button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

input {
  border: none;
}

body {
  overflow-x: hidden;
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

input:focus {
  outline: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-style: normal;
  font-weight: normal;
}

.header {
  height: 50px;
  position: relative;
  z-index: 9;
  background-color: white;
}

@media (min-width: 992px) {
  .header {
    position: absolute;
    height: 100px;
    background-color: transparent;
    width: 100%;
    top: 0;
  }
}

.header__desktop {
  display: none;
}

@media (min-width: 992px) {
  .header__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  .header__desktop_logo {
    width: 190px;
    height: 41px;
    display: block;
  }
  .header__desktop_logo img {
    width: 100%;
    height: 100%;
  }
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

@media (min-width: 992px) {
  .header__mobile {
    display: none;
  }
}

.header__mobile .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__mobile .left .header__mobile_btn {
  position: relative;
  height: 18px;
  width: 30px;
}

.header__mobile .left .header__mobile_btn span {
  position: absolute;
  left: 0px;
  height: 2px;
  background-color: #5c7066;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header__mobile .left .header__mobile_btn span:first-child {
  top: 0px;
  width: 30px;
}

.header__mobile .left .header__mobile_btn span:nth-child(2) {
  top: 8px;
  width: 30px;
}

.header__mobile .left .header__mobile_btn span:last-child {
  top: 16px;
  width: 23px;
}

.header__mobile .left .header__mobile_btn.active span {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header__mobile .left .header__mobile_btn.active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header__mobile .left .header__mobile_btn.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.header__mobile .left .header__mobile_btn.active span:last-child {
  width: 30px;
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__mobile .left .header__mobile_logo {
  width: 91px;
  height: 19px;
  display: block;
  margin-left: 30px;
}

@media (min-width: 768px) {
  .header__mobile .left .header__mobile_logo {
    margin-left: 90px;
  }
}

.header__mobile .left .header__mobile_logo img {
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__mobile_nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 266px;
  background: #ffffff;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  z-index: 9;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -ms-touch-action: none;
      touch-action: none;
}

@media (min-width: 576px) {
  .header__mobile_nav {
    width: 296px;
  }
}

@media (min-width: 768px) {
  .header__mobile_nav {
    width: 344px;
  }
}

.header__mobile_nav.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header__mobile_nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.header__mobile_nav .nav li {
  margin-top: 18px;
}

.header__mobile_nav .nav li a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #1e1e1e;
  padding-left: 15px;
  position: relative;
  font-weight: 500;
}

@media (min-width: 576px) {
  .header__mobile_nav .nav li a {
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .header__mobile_nav .nav li a {
    padding-left: 40px;
  }
}

.header__mobile_nav .nav li.active a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #aadff2;
  width: 100%;
  height: 5px;
}

.header__mobile_nav .btns .header__mobile_nav_catalog {
  display: block;
  width: 165px;
  height: 45px;
  background-color: #8dbec0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 45px;
  font-size: 11px;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: 15px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .header__mobile_nav .btns .header__mobile_nav_catalog {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .header__mobile_nav .btns .header__mobile_nav_catalog {
    margin-left: 40px;
  }
}

.header__mobile_nav .btns .header__mobile_nav_catalog img {
  margin-left: 86px;
}

.header__mobile_nav .btns .header__mobile_nav_shares {
  display: block;
  width: 120px;
  height: 45px;
  background-color: #aadff2;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 45px;
  font-size: 11px;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: 15px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .header__mobile_nav .btns .header__mobile_nav_shares {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .header__mobile_nav .btns .header__mobile_nav_shares {
    margin-left: 40px;
  }
}

.header__mobile_nav .btns .header__mobile_nav_shares img {
  margin-left: 50px;
}

.header__mobile_nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-top: 134px;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .header__mobile_nav .links {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .header__mobile_nav .links {
    margin-left: 40px;
  }
}

.header__mobile_nav .links li {
  margin-right: 25px;
}

.header__modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(54, 54, 54, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  -ms-touch-action: none;
      touch-action: none;
}

.header__modal.active {
  display: block;
}

.header__desktop-shop {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__desktop-shop .header__desktop_cart {
  margin-left: auto;
}

.header__desktop-shop .header__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__desktop-shop .header__filter_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__desktop-shop .header__filter_sort .desc {
  width: 40px;
  height: 40px;
  background-color: #aadff2;
  border-radius: 8px 0px 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__desktop-shop .header__filter_sort .asc {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8dbec0;
  border-radius: 0px 8px 8px 0px;
}

.header__desktop-shop .header__filter_sort span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  margin-left: 10px;
}

.header__desktop-shop .header__filter_links {
  margin-left: 23px;
}

.header__desktop-shop .header__filter_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__desktop-shop .header__filter_links ul li {
  margin-left: 10px;
}

.header__desktop-shop .header__filter_links ul li a {
  width: 52px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #1e1e1e;
}

.header__desktop-shop .header__filter_links ul li .hit {
  background-color: #ffe995;
}

.header__desktop-shop .header__filter_links ul li .percent {
  background-color: #f2b1e0;
}

.header__desktop-shop .header__filter_links ul li .new {
  background-color: #aadff2;
}

@media (min-width: 992px) {
  .categories {
    margin-top: 100px;
    height: 1234px;
    margin-bottom: 200px;
  }
}

@media (min-width: 1280px) {
  .categories {
    height: 1540px;
  }
}

@media (min-width: 1440px) {
  .categories {
    height: 1700px;
  }
}

@media (min-width: 1920px) {
  .categories {
    height: 2100px;
  }
}

.categories__sidebar {
  display: none;
}

@media (min-width: 992px) {
  .categories__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .categories__sidebar .top ul li {
    margin-top: 15px;
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .top ul li {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .categories__sidebar .top ul li:first-child {
    margin-top: 0px;
  }
  .categories__sidebar .top ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1e1e1e;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .top ul li a {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .categories__sidebar .top ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 5px;
    width: 0%;
    background-color: #aadff2;
  }
  .categories__sidebar .top ul li a:hover:after {
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .categories__sidebar .top ul li.active a:after {
    width: 100%;
  }
  .categories__sidebar .top .btns {
    margin-top: 55px;
  }
  .categories__sidebar .top .btns__catalog {
    display: block;
    width: 182px;
    height: 60px;
    background-color: #8dbec0;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 60px;
    padding-left: 20px;
    font-weight: bold;
  }
  .categories__sidebar .top .btns__catalog img {
    margin-left: 70px;
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .top .btns__catalog {
    width: 236px;
    height: 84px;
    line-height: 84px;
    padding-left: 40px;
  }
  .categories__sidebar .top .btns__catalog img {
    margin-left: 100px;
  }
}

@media (min-width: 992px) and (min-width: 1440px) {
  .categories__sidebar .top .btns__catalog {
    width: 272px;
    height: 96px;
    line-height: 96px;
    font-size: 16px;
  }
  .categories__sidebar .top .btns__catalog img {
    margin-left: 132px;
  }
}

@media (min-width: 992px) {
  .categories__sidebar .top .btns__shares {
    display: block;
    width: 182px;
    height: 60px;
    background-color: #aadff2;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 60px;
    padding-left: 20px;
    margin-top: 10px;
    font-weight: bold;
  }
  .categories__sidebar .top .btns__shares img {
    margin-left: 70px;
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .top .btns__shares {
    width: 236px;
    height: 84px;
    line-height: 84px;
    padding-left: 40px;
    margin-top: 30px;
  }
  .categories__sidebar .top .btns__shares img {
    margin-left: 100px;
  }
}

@media (min-width: 992px) and (min-width: 1440px) {
  .categories__sidebar .top .btns__shares {
    width: 272px;
    height: 96px;
    line-height: 96px;
    font-size: 16px;
  }
  .categories__sidebar .top .btns__shares img {
    margin-left: 132px;
  }
}

@media (min-width: 992px) {
  .categories__sidebar .top .form {
    border: 1px solid #5c7066;
    border-radius: 8px;
    position: relative;
    width: 182px;
    height: 46px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .top .form {
    width: 236px;
  }
}

@media (min-width: 992px) and (min-width: 1440px) {
  .categories__sidebar .top .form {
    width: 272px;
  }
}

@media (min-width: 992px) {
  .categories__sidebar .top .form form input {
    border: none;
    padding-left: 20px;
    width: 75%;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: black;
    line-height: 16px;
    font-weight: 500;
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .top .form form input {
    padding-left: 40px;
  }
}

@media (min-width: 992px) {
  .categories__sidebar .top .form form input::-webkit-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #a5b0aa;
  }
  .categories__sidebar .top .form form input::-moz-placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #a5b0aa;
  }
  .categories__sidebar .top .form form input:-ms-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #a5b0aa;
  }
  .categories__sidebar .top .form form input::-ms-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #a5b0aa;
  }
  .categories__sidebar .top .form form input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #a5b0aa;
  }
  .categories__sidebar .top .form form button {
    position: absolute;
    right: 10px;
    top: 7px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .categories__sidebar .bottom {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .bottom {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@media (min-width: 992px) {
  .categories__sidebar .bottom .item {
    margin-top: 30px;
  }
  .categories__sidebar .bottom .item h5 {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #1e1e1e;
    position: relative;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .categories__sidebar .bottom .item p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #606060;
    font-weight: 500;
  }
  .categories__sidebar .bottom .item a {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #606060;
  }
  .categories__sidebar .bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 180px;
    margin-top: 36px;
  }
}

@media (min-width: 992px) and (min-width: 1280px) {
  .categories__sidebar .bottom ul {
    width: 210px;
  }
}

.categories__main_slider {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .categories__main_slider {
    margin-bottom: 15px;
  }
}

@media (min-width: 1280px) {
  .categories__main_slider {
    margin-bottom: 25px;
  }
}

.categories__main_slider .item__block img {
  width: 100%;
  height: 100%;
}

.categories__main_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .categories__main_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 1002px;
  }
}

@media (min-width: 992px) {
  .categories__main_list {
    height: 976px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list {
    height: 1222px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list {
    height: 1348px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list {
    height: 1660px;
  }
}

.categories__main_list_item {
  width: 48%;
  display: block;
  height: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  position: relative;
  padding-top: 13px;
  padding-right: 5px;
}

.categories__main_list_item .desk {
  display: none;
}

.categories__main_list_item .mob {
  display: block;
}

@media (min-width: 576px) {
  .categories__main_list_item {
    height: 250px;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .categories__main_list_item {
    width: 223px;
    margin-bottom: 20px;
  }
  .categories__main_list_item .desk {
    display: block;
  }
  .categories__main_list_item .mob {
    display: none;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item {
    width: 216px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item {
    width: 263px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1366px) {
  .categories__main_list_item {
    width: 288px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item {
    width: 293px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item {
    width: 368px;
  }
}

.categories__main_list_item span {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  line-height: 15px;
  margin-left: 15px;
  position: relative;
  z-index: 2;
}

@media (min-width: 576px) {
  .categories__main_list_item span {
    font-size: 14px;
    line-height: 17px;
    margin-left: 24px;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item span {
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item span {
    font-size: 14px;
  }
}

@media (min-width: 1366px) {
  .categories__main_list_item span {
    font-size: 16px;
  }
}

.categories__main_list_item span:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 33px;
  height: 3px;
  background-color: #aadff2;
  z-index: 2;
}

@media (min-width: 576px) {
  .categories__main_list_item span:after {
    width: 97px;
    height: 5px;
    top: -11px;
  }
}

.categories__main_list_item h3 {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 15px;
  margin-left: 15px;
  position: relative;
  z-index: 2;
}

@media (min-width: 576px) {
  .categories__main_list_item h3 {
    font-size: 16px;
    line-height: 20px;
    margin-left: 24px;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item h3 {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item h3 {
    font-size: 16px;
  }
}

@media (min-width: 1366px) {
  .categories__main_list_item h3 {
    font-size: 20px;
  }
}

.categories__main_list_item img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
}

.slick-dots {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .slick-dots {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.slick-dots li {
  width: 6px;
  height: 6px;
  background-color: #d8d8d8;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.slick-dots li:first-child {
  margin-top: 0px;
}

.slick-dots .slick-active {
  width: 8px;
  height: 8px;
  background-color: #5c7066;
}

.categories__main_list_item-face {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-face {
    height: 239px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-face {
    height: 231px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-face {
    height: 282px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-face {
    height: 314px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-face {
    height: 394px;
  }
}

.categories__main_list_item-face span {
  color: #ffffff;
}

.categories__main_list_item-face h3 {
  color: #ffffff;
}

.categories__main_list_item-body {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-body {
    height: 353px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin: 0px 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-body {
    height: 343px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-body {
    margin: 0px 32px;
    height: 418px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-body {
    height: 466px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-body {
    height: 585px;
  }
}

.categories__main_list_item-body span {
  color: #5c7066;
}

.categories__main_list_item-body h3 {
  color: #5c7066;
}

.categories__main_list_item-hair {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-hair {
    height: 326px;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-hair {
    height: 316px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-hair {
    height: 385px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-hair {
    height: 428px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-hair {
    height: 538px;
  }
}

.categories__main_list_item-hair span {
  color: #5c7066;
}

.categories__main_list_item-hair span:after {
  background-color: #8dbec0;
}

.categories__main_list_item-hair h3 {
  color: #5c7066;
}

.categories__main_list_item-children {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-children {
    height: 240px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-children {
    height: 232px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-children {
    height: 283px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-children {
    height: 316px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-children {
    height: 396px;
  }
}

.categories__main_list_item-children span {
  color: #5c7066;
}

.categories__main_list_item-children h3 {
  color: #5c7066;
}

.categories__main_list_item-sets {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-sets {
    height: 284px;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin: 0px 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-sets {
    height: 276px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-sets {
    margin: 0px 32px;
    height: 346px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-sets {
    height: 384px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-sets {
    height: 472px;
  }
}

.categories__main_list_item-sets span {
  color: #5c7066;
}

.categories__main_list_item-sets span:after {
  background-color: #8dbec0;
}

.categories__main_list_item-sets h3 {
  color: #5c7066;
}

.categories__main_list_item-man {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-man {
    height: 348px;
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-man {
    height: 339px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-man {
    height: 411px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-man {
    height: 460px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-man {
    height: 575px;
  }
}

.categories__main_list_item-man span {
  color: #ffffff;
}

.categories__main_list_item-man h3 {
  color: #ffffff;
}

.categories__main_list_item-attendance {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-attendance {
    height: 182px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-attendance {
    height: 176px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-attendance {
    height: 221px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-attendance {
    height: 246px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-attendance {
    height: 309px;
  }
}

.categories__main_list_item-attendance span {
  color: #5c7066;
  margin-left: 9px;
}

.categories__main_list_item-attendance span:after {
  background-color: #8dbec0;
}

.categories__main_list_item-attendance h3 {
  color: #5c7066;
  margin-left: 9px;
}

.categories__main_list_item-hygiene {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-hygiene {
    height: 305px;
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    margin: 0px 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-hygiene {
    height: 297px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-hygiene {
    margin: 0px 32px;
    height: 362px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-hygiene {
    height: 402px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-hygiene {
    height: 506px;
  }
}

.categories__main_list_item-hygiene span {
  color: #5c7066;
}

.categories__main_list_item-hygiene h3 {
  color: #5c7066;
}

.categories__main_list_item-novelty {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-novelty {
    height: 261px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-novelty {
    height: 253px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-novelty {
    height: 308px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-novelty {
    height: 344px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-novelty {
    height: 432px;
  }
}

.categories__main_list_item-novelty span {
  color: #ffffff;
}

.categories__main_list_item-novelty h3 {
  color: #ffffff;
}

.categories__main_list_item-chemistry {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .categories__main_list_item-chemistry {
    height: 268px;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

@media (min-width: 992px) {
  .categories__main_list_item-chemistry {
    height: 260px;
  }
}

@media (min-width: 1280px) {
  .categories__main_list_item-chemistry {
    height: 320px;
  }
}

@media (min-width: 1440px) {
  .categories__main_list_item-chemistry {
    height: 362px;
  }
}

@media (min-width: 1920px) {
  .categories__main_list_item-chemistry {
    height: 447px;
  }
}

.categories__main_list_item-chemistry span {
  color: #5c7066;
}

.categories__main_list_item-chemistry span:after {
  background-color: #8dbec0;
}

.categories__main_list_item-chemistry h3 {
  color: #5c7066;
}

.shop .categories__sidebar {
  display: none;
}

@media (min-width: 992px) {
  .shop .categories__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 90px;
  }
}

.shop__list {
  display: none;
}

@media (min-width: 992px) {
  .shop__list {
    display: block;
    background-color: #f5f7fa;
    width: 180px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    padding-top: 120px;
    height: 100%;
  }
  .shop__list h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #1e1e1e;
  }
  .shop__list ul {
    margin-top: 14px;
    padding-left: 5px;
  }
  .shop__list ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #606060;
  }
}

@media (min-width: 1280px) {
  .shop__list {
    width: 120%;
    -webkit-transform: translateX(-35px);
            transform: translateX(-35px);
  }
  .shop__list h4 {
    font-size: 14px;
  }
  .shop__list ul li {
    margin-top: 10px;
  }
  .shop__list ul li a {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .shop__list {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    padding-left: 20px;
  }
}

@media (min-width: 1920px) {
  .shop__list {
    width: 272px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    padding-left: 32px;
  }
  .shop__list h4 {
    font-size: 16px;
  }
  .shop__list ul {
    padding-left: 18px;
  }
  .shop__list ul li a {
    font-size: 16px;
  }
}

.shop__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

@media (min-width: 992px) {
  .shop__categories {
    display: none;
  }
}

.shop__categories::-webkit-scrollbar {
  display: none;
}

.shop__categories_item {
  min-width: 88px;
  height: 115px;
  position: relative;
  margin-right: 15px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shop__categories_item:last-child {
  margin-right: 0px;
}

.shop__categories_item h3 {
  font-family: "Montserrat-Bold";
  font-size: 9px;
  line-height: 11px;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
  margin-left: 18px;
}

.shop__categories_item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .shop__categories_item {
    min-width: 132px;
    height: 171px;
    margin-right: 20px;
  }
  .shop__categories_item h3 {
    font-size: 12px;
    line-height: 15px;
  }
}

.shop__categories_item-face h3 {
  color: white;
}

@media (min-width: 768px) {
  .shop__categories_item-face h3 {
    margin-left: 25px;
    margin-bottom: 21px;
  }
}

.shop__categories_item-body h3 {
  color: #5c7066;
}

@media (min-width: 768px) {
  .shop__categories_item-body h3 {
    margin-left: 25px;
    margin-bottom: 21px;
  }
}

.shop__categories_item-hair h3 {
  margin-left: 13px;
  color: #5c7066;
}

@media (min-width: 768px) {
  .shop__categories_item-hair h3 {
    margin-left: 25px;
    margin-bottom: 21px;
  }
}

.shop__categories_item-children h3 {
  margin-left: 13px;
  color: #5c7066;
}

@media (min-width: 768px) {
  .shop__categories_item-children h3 {
    margin-left: 25px;
    margin-bottom: 21px;
  }
}

.shop__categories_item-man h3 {
  margin-left: 13px;
  color: white;
}

@media (min-width: 768px) {
  .shop__categories_item-man h3 {
    margin-left: 25px;
    margin-bottom: 21px;
  }
}

.shop__categories_item-sets h3 {
  margin-left: 13px;
  color: #5c7066;
}

@media (min-width: 768px) {
  .shop__categories_item-sets h3 {
    margin-left: 25px;
    margin-bottom: 21px;
  }
}

.shop__categories_item-atted h3 {
  margin-left: 3px;
  color: #5c7066;
}

@media (min-width: 768px) {
  .shop__categories_item-atted h3 {
    margin-left: 21px;
    margin-bottom: 24px;
  }
}

.shop__categories_item-hygiene h3 {
  color: #5c7066;
  margin-left: 14px;
}

@media (min-width: 768px) {
  .shop__categories_item-hygiene h3 {
    margin-left: 25px;
    margin-bottom: 25px;
  }
}

.shop__categories_item-novetly h3 {
  margin-left: 21px;
  margin-bottom: 25px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .shop__categories_item-novetly h3 {
    margin-left: 36px;
    margin-bottom: 39px;
  }
}

.shop__categories_item-chemistry h3 {
  margin-left: 21px;
  color: #5c7066;
}

@media (min-width: 768px) {
  .shop__categories_item-chemistry h3 {
    margin-left: 25px;
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .shop__main {
    margin-top: 100px;
  }
}

.shop__main_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .shop__main_filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .shop__main_filter {
    display: none;
  }
}

.shop__main_filter h4 {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1e1e1e;
  position: relative;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@media (min-width: 576px) {
  .shop__main_filter h4 {
    font-size: 16px;
  }
}

.shop__main_filter h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #aadff2;
  height: 3px;
  width: 200%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.shop__main_filter .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .shop__main_filter .links {
    margin-left: 60px;
  }
}

.shop__main_filter .links a {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-size: 9px;
  line-height: 13px;
  font-weight: normal;
  border-radius: 8px;
}

.shop__main_filter .links__hit {
  background-color: #ffe995;
}

.shop__main_filter .links__percent {
  background-color: #f2b1e0;
  margin-left: 10px;
}

.shop__main_filter .links__new {
  background-color: #aadff2;
  margin-left: 10px;
}

.shop__main_filter .shop__main_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 576px) {
  .shop__main_filter .shop__main_sort {
    margin-left: auto;
  }
}

.shop__main_filter .shop__main_sort span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
  margin-right: 5px;
}

@media (min-width: 576px) {
  .shop__main_filter .shop__main_sort span {
    font-size: 16px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    margin-right: 10px;
  }
}

.shop__main_filter .shop__main_sort .desc {
  width: 40px;
  height: 30px;
  background-color: #aadff2;
  border-radius: 8px 0px 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__main_filter .shop__main_sort .asc {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8dbec0;
  border-radius: 0px 8px 8px 0px;
}

.shop__main_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

@media (min-width: 992px) {
  .shop__main_list {
    margin-top: 0px;
  }
}

.shop__main_list .item {
  width: 48%;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  margin-top: 15px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 8px 8px 8px;
}

@media (min-width: 576px) {
  .shop__main_list .item {
    padding: 20px 10px 20px 20px;
  }
}

@media (min-width: 768px) {
  .shop__main_list .item {
    width: 31.5%;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .shop__main_list .item {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

@media (min-width: 1920px) {
  .shop__main_list .item {
    padding: 30px 10px 30px 30px;
  }
}

.shop__main_list .item .img img {
  width: 100%;
}

.shop__main_list .item .price {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__main_list .item .price__default {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #5c7066;
}

.shop__main_list .item .price__default-pink {
  color: #f2b1e0;
}

@media (min-width: 576px) {
  .shop__main_list .item .price__default {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .shop__main_list .item .price__default {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .shop__main_list .item .price__default {
    font-size: 18px;
  }
}

.shop__main_list .item .price__discount {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 9px;
  line-height: 9px;
  color: #a5b0aa;
  margin-left: 17px;
  position: relative;
}

@media (min-width: 576px) {
  .shop__main_list .item .price__discount {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .shop__main_list .item .price__discount {
    font-size: 10px;
  }
}

@media (min-width: 1280px) {
  .shop__main_list .item .price__discount {
    font-size: 13px;
  }
}

.shop__main_list .item .price__discount:after {
  content: "";
  position: absolute;
  left: -2px;
  top: 3px;
  width: 110%;
  height: 1px;
  background-color: #696969;
}

.shop__main_list .item .title {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  line-height: 15px;
  color: #1e1e1e;
  min-height: 36px;
  display: block;
}

@media (min-width: 576px) {
  .shop__main_list .item .title {
    font-size: 14px;
    margin-top: 11px;
  }
}

@media (min-width: 992px) {
  .shop__main_list .item .title {
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  .shop__main_list .item .title {
    font-size: 14px;
  }
}

.shop__main_list .item .tocart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.shop__main_list .item .tocart .shop__addcart {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 102px;
  height: 30px;
  background-color: #8dbec0;
  border-radius: 8px;
}

@media (min-width: 576px) {
  .shop__main_list .item .tocart .shop__addcart {
    font-size: 13px;
    width: 120px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .shop__main_list .item .tocart .shop__addcart {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}

@media (min-width: 1280px) {
  .shop__main_list .item .tocart .shop__addcart {
    font-size: 13px;
    width: 120px;
    height: 40px;
  }
}

@media (min-width: 1920px) {
  .shop__main_list .item .tocart .shop__addcart {
    width: 150px;
  }
}

.shop__main_list .item .tocart span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 30px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  color: #1e1e1e;
  margin-left: 9px;
}

@media (min-width: 576px) {
  .shop__main_list .item .tocart span {
    width: 52px;
    height: 40px;
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .shop__main_list .item .tocart span {
    font-size: 10px;
    width: 38px;
    height: 30px;
  }
}

@media (min-width: 1280px) {
  .shop__main_list .item .tocart span {
    width: 52px;
    height: 40px;
    font-size: 13px;
  }
}

.shop__main_list .item .tocart .hit {
  background: #ffe995;
}

.shop__main_list .item .tocart .percent {
  background-color: #f2b1e0;
}

.shop__main_list .item .tocart .new {
  background-color: #aadff2;
}

.shop__main .shop__navigation {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .shop__main .shop__navigation {
    margin-bottom: 20px;
    margin-top: 25px;
  }
}

.shop__main .shop__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.shop__main .shop__navigation ul li {
  margin-left: 5px;
}

.shop__main .shop__navigation ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #aadff2;
  border-radius: 8px;
}

@media (min-width: 576px) {
  .shop__main .shop__navigation ul li a {
    font-size: 13px;
    width: 40px;
    height: 40px;
  }
}

.shop__main .shop__navigation ul li.active a {
  background-color: #8dbec0;
}

.footer {
  background-color: #5c7066;
  height: 38px;
}

@media (min-width: 768px) {
  .footer {
    height: 50px;
  }
}

.footer__main {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .footer__main {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .footer__main {
    margin-top: 22px;
  }
}

.footer__main .right {
  display: none;
}

@media (min-width: 768px) {
  .footer__main .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__main .right span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    color: #ffffff;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .footer__main .right span {
    font-size: 13px;
  }
}

.footer__main .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main .left span {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

@media (min-width: 768px) {
  .footer__main .left span {
    font-size: 9px;
  }
}

@media (min-width: 992px) {
  .footer__main .left span {
    font-size: 13px;
  }
}

.footer__main .left a {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

@media (min-width: 768px) {
  .footer__main .left a {
    margin-left: 160px;
    font-size: 9px;
  }
}

@media (min-width: 992px) {
  .footer__main .left a {
    font-size: 13px;
  }
}

@media (min-width: 1280px) {
  .footer__main .left a {
    margin-left: 200px;
  }
}
